@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Open+Sans+Condensed:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

html {
  overflow-y: auto;
}

body {
  background: #FAFAF5;
  color: #1A1A1A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

#root {
  min-height: 100vh;
}